{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        {% for item in items %}
          <li>{{item.id}} - {{item.closed}} - {{item.name}}</li>
          <form method="post" action="/completeItem">
            <input type="hidden" id="id" name="id" value="{{item.id}}">
            <input type="submit" value="complete"></a>
          </form>
        {% endfor %}
      </ul>
      <h2>Add an item</h2>
      <form method="post" action="/addItem">
        <label for="name" style="padding-right: 5px;">Item name: </label>
        <input type="text" id="name" name="name" required>
        <input type="submit">
      </form>
    </div>
  </div>
{% endblock %}