{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        {% for item in items %}
          <li>{{ item.id}} - {{item.closed}} - {{item.name}}</li>
        {% endfor %}
      </ul>
      <h2>Add an item</h2>
      <form method="post" action="https://trello.com/1/cards?key=58e57e7addabdcbcfae7f8d62560afbe&token=a9f6f553a13eceaf9eda2839cd85b665638644ca3c36011ccb18545f5325cd8d&idList=609392e0aaa6e8618e341f90" >
        <label for="name" style="padding-right: 5px;">Item name: </label>
        <input type="text" id="name" name="name" required>
        <input type="submit">
      </form>
    </div>
  </div>
{% endblock %}